*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar{
  background: #0a192f;
  width: .2em;
}
body::-webkit-scrollbar-thumb{
  background: white;
}

.App{
  /* display: grid; */
  background: #0a192f;
  /* grid-template: 
  "banner banner banner" 20%
  "rowsContainer rowsContainer rowsContainer" 1fr; */
}


.animes {
  /* display: grid;
  grid-area: rowsContainer; */
}
.banner {
  height: 70vh;
}

.img-container::-webkit-scrollbar{
  display: none;
}


 